#dragOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: transparent;
	pointer-events: none;
	display: none;
	box-shadow: inset 0 0 0 3px rgba(52,130,220,0);
	-webkit-app-region: drag;
	&.active {
		display: block;
		pointer-events: all;
		box-shadow: inset 0 0 0 3px rgba(52,130,220,0);
		animation: appear 0.1s ease-in;
		animation-delay: 0.1s;
		-webkit-animation-fill-mode: forwards;
	}
	&.invisible {
		opacity: 0;
	}
}