#dragOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	background: transparent;
	pointer-events: none;
	box-shadow: inset 0 0 0 3px rgba(0,236,145,0);
	transition: all 0.1s linear;
	&.active {
		display: block;
		-webkit-app-region: drag;
		pointer-events: all;
		box-shadow: inset 0 0 0 3px rgba(0,236,145,0.5);
	}
}