#loader {
	display: block;
	border: 3px solid #00EC91;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	position: fixed;
	bottom: 50px;
	right:50px;
	transition: border-color 0.2s, opacity 0.3s;
	opacity: 0;

	&.loading {
		animation: blink 0.2s infinite ease-out;
	}
	&.hide {
		opacity: 0;
	}
	&.show {
		opacity: 1;
	}
}