#loader {
	display: block;
	border: 3px solid #00EC91;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	position: fixed;
	bottom: 50px;
	right:50px;
	transition: border-color 0.2s;

	&.loading {
		animation: blink 0.3s infinite ease-out;
	}
}