notifications {

	position: fixed;
	top: 3px;
	right: 0;

	&.mute {
		display: none;
	}

	.notification {
		background-color: #1A1A1A;
		padding: 1px 7px;
		float: left;
		border-radius: 2px;
		font-family: 'Roboto', sans-serif;
		font-weight: 200;
		font-size: 10px;
		display: inline-block;
		letter-spacing: 0.6px;
		line-height: 14.5px;
		// text-rendering: optimizeLegibility;
		// -webkit-font-smoothing: antialiased;
		color: rgba(255, 255, 255, 0.6);
		margin-right: 3px;
		transition: background-color 0.2s ease-out;
		-webkit-user-select: none;
		cursor: pointer;
		animation: fade-in 0.4s ease-out;

		&.clickable {
			text-decoration: underline;
			
			&:hover {
				background-color: #1f1f1f;
			}

			&:active {
				background-color: #0D0D0D;
			}
		}

		&.dying {
			animation: fade-out 0.3s ease-out;
		}

		&.error {
			&::before {
				content: ' ';
				width: 4px;
				display: inline-block;
				height: 4px;
				border-radius: 4px;
				margin-right: 6px;
				margin-left: 2px;
				position: relative;
				top: -1px;
				background-color: red;
			}
		}

	}
}