#omnibox {
	width: 100%;
	position: fixed;
	.box {
		max-width: 485px;
		position: relative;
		margin: auto;
		::-webkit-input-placeholder {
		   color: rgba(255, 255, 255, 0.2);
		}
		.input {
			width: calc(100% - 24px);
			font-family: 'Roboto Light', sans-serif;
			font-size: 18px;
			color: rgba(255, 255, 255, 0.6);
			background: #252525;
			line-height: 21px;
			outline: none;
			border: none;
			padding: 12px;
			border-radius: 2px;
		}
		.tab {
			border: 1px solid rgba(50, 50, 50, 1);
			border-radius: 4px;
			position: absolute;
			right: 7px;
			top: 7px;
			width: 55px;
			height: 15px;
			font-family: Roboto-Light;
			letter-spacing: 0.1px;
			font-size: 11px;
			color: rgba(255, 255, 255, 0.2);
			padding-top: 15px;
			padding-left: 5px;
		}
	}
	&.handle {
		top: calc(50px + 22px);
	}
	&.nohandle {
		top: calc(50px);
	}
}