omnibox {
	width: 100%;
	height: 100%;
	position: fixed;
	-webkit-app-region: drag;
	z-index: 98;
	.box {
		z-index: 98;
		max-width: 485px;
		top: calc(50px);
		position: relative;
		margin: auto;
		::-webkit-input-placeholder {
		   color: rgba(255, 255, 255, 0.2);
		}
		.input {
			z-index: 98;
			-webkit-app-region: no-drag;
			width: calc(100% - 24px);
			font-family: 'Roboto Light', sans-serif;
			font-size: 18px;
			color: rgba(255, 255, 255, 0.6);
			background: #252525;
			line-height: 21px;
			outline: none;
			border: none;
			padding: 12px;
			position: relative;
			border-radius: 2px;
			transition: background-color 0.1s ease-out;
			white-space: nowrap;
			overflow-x: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
			&.highlight {
				background-color: #1F1F1F;
			}
			&::selection {
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}
	.hint {
		z-index: 98;
		display: block;
		max-width: 485px;
		margin: auto;
		padding: 12px;
		font-size: 18px;
		background: #1A1A1A;
		position: relative;
		border-radius: 0px 0px 2px 2px;
		color: rgba(255, 255, 255, 0.2);
		font-family: 'Roboto Light', sans-serif;
		font-size: 13px;
		letter-spacing: -0.21px;
		-webkit-user-select: none;
		user-select: none;
		pointer-events: none;
		&.hide {
			display: none;
		}
		&.show {
			display: block;
		}
	}
	&.show {
		// animation: fade-in 0.1s 1 ease-out;
		display: block;
	}
	&.hide {
		display: none;
	}
	.overlay {
		width: 100%;
		height: 100%;
		background-color: #141414;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 88;
	}
}