 status {

	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	padding: 5px 8px;
	font-size: 12.5px;
	display: inline-block;
	letter-spacing: -0.1px;
	line-height: 14px;
	text-rendering: optimizeLegibility;
	color: rgba(255, 255, 255, 0.8);
	background: rgba(40,40,40,0.7);
	pointer-events: none;
	border-bottom-left-radius: 6px;
	opacity: 0;
	transition: opacity 0.5s ease-out;
	z-index: 99;

	icon {
		padding-right: 7px;
		position: relative;
		top: 0.5px;
		color: rgba(255, 255, 255, 1);
	}

	&.hide {
		display: none;
	}

	&.fade-in {
		opacity: 1;
		transition: opacity 0.5s ease-out;
	}

	&.fade-out {
		opacity: 0;
		transition: opacity 1s ease-in;
	}

	@media (-webkit-min-device-pixel-ratio: 2) { 
	    icon {
	    	padding-right: 5px;
	    }
	}

}