#view {
	width: 100%;
	&.handle {
		height: calc(100% - 23px);
	}
	&.noHandle {
		height: 100%;
	}
	.pages {
		&.show {
			display: block;
		}
		&.hide {
			display: none;
		}
	}
	&.show {
		opacity: 1;
	}
	&.hide {
		opacity: 0;
	}
}