/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes blink {
  0% {
    border-color: #00ec91; }
  50% {
    border-color: rgba(0, 236, 145, 0.6); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@font-face {
  font-family: 'Roboto Light';
  src: url(../media/Roboto-Light.ttf); }

@font-face {
  font-family: 'Roboto Regular';
  src: url(../media/Roboto-Regular.ttf); }

@font-face {
  font-family: 'Roboto Mono Regular';
  src: url(../media/RobotoMono-Regular.ttf); }

body {
  background-color: #141414;
  font-family: 'Roboto Light', sans-serif;
  color: white;
  overflow: hidden; }

handle {
  -webkit-app-region: drag;
  background: transparent;
  height: 22px;
  text-align: center; }
  handle .title {
    padding-top: 6px;
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
    font-size: 12px;
    display: inline-block;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    cursor: default; }
  handle .button {
    position: absolute;
    -webkit-app-region: no-drag;
    user-select: none;
    top: 5px;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    transition: background-color 0.1s; }
    handle .button::after {
      content: '';
      display: block;
      margin-left: 3px;
      margin-top: 3px;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background: transparent;
      transition: background-color 0.1s; }
    handle .button:hover::after {
      background: rgba(0, 0, 0, 0.3); }
  handle .close {
    left: 8px;
    background: #FF554E; }
    handle .close:active {
      background: #CC443F; }
  handle .minimize {
    left: 28px;
    background: rgba(255, 255, 255, 0.2); }
  handle .fullscreen {
    left: 48px;
    background: rgba(255, 255, 255, 0.2); }
  handle.hide {
    display: none; }
  handle.show {
    display: block;
    animation: fade-in 0.7s 1 ease-out; }
  handle:hover .minimize {
    background: #ffbb3c; }
    handle:hover .minimize:active {
      background: #CC9631; }
  handle:hover .fullscreen {
    background: #35c849; }
    handle:hover .fullscreen:active {
      background: #269435; }

#view {
  width: 100%;
  height: 100%; }
  #view.show {
    opacity: 1;
    pointer-events: auto; }
  #view.hide {
    opacity: 0;
    pointer-events: none; }

omnibox {
  width: 100%;
  height: 100%;
  position: fixed; }
  omnibox .box {
    z-index: 99;
    max-width: 485px;
    top: calc(50px);
    position: relative;
    margin: auto; }
    omnibox .box ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.2); }
    omnibox .box .input {
      width: calc(100% - 36px - 55px);
      font-family: 'Roboto Light', sans-serif;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.6);
      background: #252525;
      line-height: 21px;
      outline: none;
      border: none;
      padding: 12px;
      padding-right: 79px;
      border-radius: 2px;
      transition: background-color 0.1s ease-out; }
      omnibox .box .input.highlight {
        background-color: #1F1F1F; }
    omnibox .box .tab {
      display: none;
      border: 1px solid #323232;
      border-radius: 4px;
      position: absolute;
      right: 7px;
      top: 7px;
      width: 55px;
      height: 15px;
      font-family: Roboto-Light;
      letter-spacing: 0.1px;
      font-size: 11px;
      color: rgba(255, 255, 255, 0.2);
      padding-top: 15px;
      padding-left: 5px;
      transition: border-color 0.1s, color 0.1s;
      -webkit-app-region: no-drag;
      -webkit-user-select: none;
      user-select: none;
      cursor: default; }
      omnibox .box .tab.active {
        color: rgba(255, 255, 255, 0.6); }
      omnibox .box .tab:hover {
        color: rgba(255, 255, 255, 0.6); }
  omnibox.show {
    display: block; }
  omnibox.hide {
    display: none; }
  omnibox .overlay {
    -webkit-app-region: drag;
    width: 100%;
    height: 100%;
    background-color: #141414;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 88; }

#loader {
  display: block;
  border: 3px solid #00EC91;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: border-color 0.2s, opacity 0.3s;
  opacity: 0; }
  #loader.loading {
    animation: blink 0.2s infinite ease-out; }
  #loader.hide {
    opacity: 0; }
  #loader.show {
    opacity: 1; }

console {
  position: fixed;
  bottom: 0;
  background: #252525;
  width: calc(100% - 10px);
  padding-left: 10px;
  padding-top: 4px;
  height: 19px;
  font-family: 'Roboto Mono Regular', sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6); }
  console.show {
    display: block; }
  console.hide {
    display: none; }

windowHelper {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  background: #1f1f1f;
  padding: 2px 10px;
  border-radius: 4px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6); }
  windowHelper.show {
    display: block; }
  windowHelper.hide {
    display: none; }
  windowHelper input {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    background: transparent;
    width: 23px;
    padding-left: 5px;
    display: inline-block;
    line-height: 17px;
    outline: none;
    border: none;
    padding: 0;
    transition: background-color 0.1s ease-out; }
    windowHelper input.fourDigits {
      width: 30px; }
    windowHelper input:focus {
      color: #00EC91;
      background: transparent; }
    windowHelper input::selection {
      color: #00EC91;
      background: transparent; }
  windowHelper .separator {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 10px;
    position: relative;
    left: -1px;
    text-align: center; }

#dragOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: transparent;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px rgba(0, 236, 145, 0);
  transition: all 0.1s linear; }
  #dragOverlay.active {
    display: block;
    -webkit-app-region: drag;
    pointer-events: all;
    box-shadow: inset 0 0 0 3px rgba(0, 236, 145, 0.5); }

.webview {
  height: 100%;
  width: 100%; }
  .webview.hide {
    display: none; }
  .webview.loading {
    opacity: 0; }
  .webview.loaded {
    opacity: 1; }

.homepage {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;
  position: fixed; }
  .homepage .infos {
    position: fixed;
    bottom: 45px;
    left: 50px; }
  .homepage p {
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Roboto Light', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
    line-height: 24px; }
