.homepage {
	-webkit-app-region: drag;
	height: 100%;
	width: 100%;
	position: fixed;

	.infos {
		position: fixed;
		bottom: 45px;
		left: 50px;
	}

	p {
		margin-bottom: 0;
		margin-top: 0;
		font-family: 'Roboto Light', sans-serif;
		font-size: 18px;
		color: rgba(255, 255, 255, 0.3);
		line-height: 24px;
	}
}